@media (max-width: 680px) {
  .logo{
    padding-left: 60px;
  }
  .main-wrapper{
    padding: 42px 5px;
  }
  .cart{
    display: none;
  }
  .box{
    margin-bottom: 30px;
  }
  .new-box{
    top: 80%;
    width: 90%;
  }
  .image-box{
    padding: 0 5px;
    width: 80%;
    img{
      width: 100%;
      padding: 0;
    }
    a{
      font-size: 12px;
      left: 50px;
      top: 60px;
    }
  }
  .owl-carousel{
    top: 220px;
    margin-left: 30px;
    width: 300px;
    h1{
      font-size: 12px;
    }
    p{
    font-size: 8px;
    }
  }
  .slider{
    padding: 0 ;
  }
  .photo{
    img{
      left: 35px;
      width: 80%
    }
  }
  .slide-photo{
    padding: 110px 30px 0 30px;
  }
  .photo-grid{
    padding-top: 150px;
  }

}

@media (max-width: 1024px) {
  .main-wrapper{
    padding: 42px 5px;
  }
  .cart{
    display: none;
  }
  .box{
    margin-bottom: 30px;
  }
  .new-box{
    top: 39%;
  }
  .owl-carousel{
    margin-left: 360px;
    width: 300px;
    h1{
      font-size: 12px;
    }
    p{
    font-size: 8px;
    }
  }
  .slider{
    padding: 0 ;
  }
  .slide-photo{
    padding: 110px 30px 0 30px;
  }

}
