@media (min-width: 376px) and (max-width: 610px) {
  .header {
    .container {
      .header__wrapper {
        padding-bottom: 70px;
      }
    }

    .cart {
      top: 98px;
      left: 10px;
    }
  }

  .main-wrapper {
    padding: 42px 22px;
  }

  .main-nav {
    :nth-child(3) {
      padding-left: 17px;
    }

    a {
      font-size: 12px;
      text-align: center;
      width: 90px;
      margin: 0 10px;
    }
  }

  .box {
    .new-box {
      top: 605px;
      width: 290px;
    }

    .row-box {
      .image-box {
        img {
          width: 180px;
        }

        a {
          left: 25px;
          top: 55px;
          font-size: 18px;
        }
      }
    }
  }

  .slider {
    padding: 0 15px;

    .slide-photo {
      padding-top: 80px;

      .photo {
        img {
          width: 290px;
          margin: 0 25px;
        }
      }
    }

    .owl-carousel {
      width: 300px;
      top: 240px;
      margin-left: 20px;
    }
  }

  .photo-grid {
    .pizza-photos {
      padding-top: 190px;
    }

    .photo-inner {
      img {
        width: 290px;
      }

      .fa-heart {
        font-size: 30px;
        margin: 85px 0px 0px -190px;
        color: #ff7675;
      }

      .fa-share-alt {
        font-size: 30px;
        margin: 85px 0px 0px -150px;
        color: white;
      }
    }
  }

  .product {
    .product__header {
      h3 {
        font-size: 17px;
      }
    }

    .product__images {
      width: 160px;

      img {
        width: 130px;
      }
    }

    .product__wrapper {
      width: 300px;
    }

    .widget-amount {
      width: 150px;
    }

    .btn-primary {
      width: 100px;
    }

  }

  .booking-form {
    width: 330px;
    margin-left: -5px;

    .date-picker {
      margin: 0 10px 0 -10px;
    }

    .time-picker {
      margin: 0 0 0 10px;
    }
  }

  .booking-options {
    label {
      input {
        font-size: 18px;
        margin: 0 5px 0 0;
      }
    }

    a {
      font-size: 12px;
      margin: 0 5px 5px 0;
    }

  }

  .order-confirmation {
    margin-left: -23px;

    input {
      padding-top: 15px;
      margin-top: 10px;
      margin-left: 23px;
      width: 330px;
    }

    button {
      margin-top: 10px;
      margin-left: 137px;
    }
  }

}

@media (min-width: 312px) and (max-width: 375px) {
  .header {
    .container {
      .header__wrapper {
        padding-bottom: 70px;
      }
    }

    .cart {
      top: 98px;
      left: 10px;
    }
  }

  .main-wrapper {
    padding: 42px 22px;
  }

  .main-nav {
    :nth-child(3) {
      padding-left: 17px;
    }

    a {
      font-size: 12px;
      text-align: center;
      width: 90px;
      margin: 0 10px;
    }
  }

  .box {
    .new-box {
      top: 605px;
      width: 290px;
    }

    .row-box {
      .image-box {
        img {
          width: 180px;
        }

        a {
          left: 25px;
          top: 55px;
          font-size: 18px;
        }
      }
    }
  }

  .slider {
    padding: 0 20px;

    .slide-photo {
      padding-top: 80px;

      .photo {
        img {
          width: 290px;
        }
      }
    }

    .owl-carousel {
      width: 300px;
      top: 240px;
      margin-left: -5px;
    }
  }

  .photo-grid {
    .pizza-photos {
      padding-top: 190px;
    }

    .photo-inner {
      img {
        width: 290px;
      }

      .fa-heart {
        font-size: 30px;
        margin: 85px 0px 0px -190px;
        color: #ff7675;
      }

      .fa-share-alt {
        font-size: 30px;
        margin: 85px 0px 0px -150px;
        color: white;
      }
    }
  }

  .product {
    .product__header {
      h3 {
        font-size: 17px;
      }
    }

    .product__images {
      width: 160px;

      img {
        width: 130px;
      }
    }

    .product__wrapper {
      width: 300px;
    }

    .widget-amount {
      width: 150px;
    }

    .btn-primary {
      width: 100px;
    }

  }

  .booking-form {
    width: 330px;
    margin-left: -25px;

    .date-picker {
      margin: 0 10px 0 -10px;
    }

    .time-picker {
      margin: 0 0 0 10px;
    }
  }

  .booking-options {
    label {
      input {
        font-size: 18px;
        margin: 0 5px 0 0;
      }
    }

    a {
      font-size: 12px;
      margin: 0 5px 5px 0;
    }

  }

  .order-confirmation {
    margin-left: -23px;

    input {
      padding-top: 15px;
      margin-top: 10px;
      margin-left: 23px;
      width: 330px;
    }

    button {
      margin-top: 10px;
      margin-left: 137px;
    }
  }
}

@media (min-width: 1px) and (max-width: 320px) {
  .header {
    .container {
      .header__wrapper {
        padding-bottom: 70px;
      }
    }

    .cart {
      width: 280px;
      top: 98px;
    }
  }

  .main-wrapper {
    padding: 42px 5px;
  }

  .main-nav {
    :nth-child(1) {
      padding-left: 18px;
    }

    :nth-child(2) {
      padding-left: 15px;
    }

    :nth-child(3) {
      padding-left: 7px;
    }

    a {
      font-size: 12px;
      text-align: center;
      width: 70px;
      margin: 0 12px;
    }
  }

  .box {
    .new-box {
      top: 605px;
      width: 290px;
    }

    .row-box {
      .image-box {
        img {
          width: 155px;
        }

        a {
          left: 23px;
          top: 60px;
          font-size: 15px;
        }
      }
    }
  }

  .slider {
    padding: 0 20px;

    .slide-photo {
      padding-top: 80px;

      .photo {
        img {
          width: 270px;
        }
      }
    }

    .owl-carousel {
      width: 300px;
      top: 240px;
      margin-left: -15px;
    }

    p {
      font-size: 9px;
    }
  }

  .photo-grid {
    .pizza-photos {
      padding-top: 190px;
    }

    .photo-inner {
      img {
        width: 270px;
      }

      .fa-heart {
        font-size: 30px;
        margin: 80px 0px 0px -175px;
        color: #ff7675;
      }

      .fa-share-alt {
        font-size: 30px;
        margin: 80px 0px 0px -135px;
        color: white;
      }
    }
  }

  .product {
    .product__params {
      font-size: 10px;

      label {
        height: 200px;
        width: 150px;
      }
    }

    .product__header {
      margin-right: 40px;

      h3 {
        font-size: 17px;
      }
    }

    .product__images {
      width: 120px;

      img {
        width: 120px;
      }
    }

    .product__wrapper {
      width: 250px;
    }

    .widget-amount {
      width: 150px;
    }

    .btn-primary {
      width: 100px;
    }

  }

  .booking-form {
    width: 280px;
    margin-left: -28px;

    .date-picker {
      margin: 0 10px 0 -20px;
    }

    .time-picker {
      margin: 0 -10px 0 10px;
    }
  }

  .booking-options {
    width: 290px;
    margin-left: -4px;

    label {
      input {
        font-size: 18px;
        margin: 0 5px 0 0;
      }
    }

    a {
      font-size: 10px;
      margin-bottom: 15px;
      margin: 0 5px 5px 0;

    }

  }

  .floor-plan {
    width: 280px;
  }

  .order-confirmation {
    margin-left: -15px;

    input {
      padding-top: 15px;
      margin-top: 10px;
      margin-left: 15px;
      width: 280px;
    }

    button {
      margin-top: 10px;
      margin-left: 110px;
    }
  }
}
